.center{
    text-align: center;
    padding: 80px;
    a{
        color: $fait-white;
        text-decoration: none;
    }
    span{
        color: $fait-white;
        margin-left: 10px;

    }
    h1{
        margin-top: 20px;
        color: white;
    }
}